{% extends 'base.html' %}

{% block title %}Book Reading Platform{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Welcome to Book Reading Platform</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Start Your Reading Journey</h5>
                    <p class="card-text">Explore our collection of books and start reading today!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 